@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  background-color: #303030; /* Dark grey background */
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.drag-image {
  background-color: white; /* White background for the frame */
  border: 2px dashed black; /* Black dotted border */
  width: 80%;
  height: 80vh;
  max-width: 1000px;
  max-height: 800px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.2); /* Box shadow for gradient effect */
  transition: all 0.5s;
}

.drag-image.active {
  border-color: #fff;
  box-shadow: 0 0 15px 15px rgba(255,255,255,0.3); /* Adjust for a lighter gradient effect */
}

.drag-image h6 {
  font-size: 20px;
  font-weight: 300;
  color: black; /* Adjusted for visibility on white background */
  margin-bottom: 15px;
}

.drag-image button {
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.drag-image button:hover {
  background-color: black;
  color: white;
}

.drag-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.button-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MUIButton {
  padding: 10px 25px;
  background-color: #61dafb;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.MUIButton:hover {
  background-color: #4095c6;
}

/* Additional styles for other elements */
